<div class="checkout">
  <div class="checkout__container">
    <h1 class="checkout__title">Checkout</h1>

    <ng-container *ngIf="cart$ | async as cart">
      <div class="checkout__layout">
        <!-- Shipping Form -->
        <div class="checkout__form">
          <shipping-from [cart]="cart"></shipping-from>
        </div>

        <!-- Order Summary -->
        <div class="checkout__summary">
          <shopping-cart-summary [cart]="cart"></shopping-cart-summary>
        </div>
      </div>
    </ng-container>
  </div>
</div>
