<div class="card">
  <img class="card-img-top" [src]="product.imageUrl" [alt]="product.name" />
  <div class="card-body">
    <h3 class="card-title">
      {{ product.name }}
    </h3>
    <p class="card-text">
      {{ product.price | currency: "USD" : "symbol" }}
    </p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button
      *ngIf="!getQuantity(); else quantity"
      (click)="addToCart()"
      class="btn btn-primary w-100 rounded-0"
    >
      Add to cart
    </button>

    <ng-template #quantity>
      <div class="d-flex justify-content-between align-items-center">
        <button (click)="removeFromCart()" class="btn btn-secondary">-</button>

        <div class="text-center">
          {{ getQuantity() }}
        </div>

        <button (click)="addToCart()" class="btn btn-secondary">+</button>
      </div>
    </ng-template>
  </div>
</div>
